*, *::before, *::after {
  font-family: "Kanit", sans-serif;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  height: 400vh;
}

a {
  text-decoration: none;
  color: inherit;
}

.hide {
  display: none;
}

.container {
  margin: 0 1rem;
}
@media screen and (min-width: 726px) {
  .container {
    width: 70rem;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1124px) {
  .container {
    width: 110rem;
  }
}
@media screen and (min-width: 1324px) {
  .container {
    width: 130rem;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-basis: 100%;
  padding: 10px;
}
@media screen and (min-width: 726px) {
  .col-m-50 {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 726px) {
  .col-m-33 {
    flex-basis: 33.3%;
  }
}
@media screen and (min-width: 726px) {
  .col-m-25 {
    flex-basis: 25%;
  }
}
@media screen and (min-width: 1124px) {
  .col-l-50 {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 1124px) {
  .col-l-33 {
    flex-basis: 33.3%;
  }
}
@media screen and (min-width: 1124px) {
  .col-l-25 {
    flex-basis: 25%;
  }
}
@media screen and (min-width: 1324px) {
  .col-xl-50 {
    flex-basis: 50%;
  }
}
@media screen and (min-width: 1324px) {
  .col-xl-33 {
    flex-basis: 33.3%;
  }
}
@media screen and (min-width: 1324px) {
  .col-xl-25 {
    flex-basis: 25%;
  }
}

.modal-window {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: 3;
  background-color: rgba(30, 42, 56, 0.737254902);
}
.modal-window .title, .modal-window .desription {
  text-align: center;
  margin: 20px 0 0;
  font-size: 2rem;
}
.modal-window .title {
  font-weight: bold;
  font-size: 200%;
}

#modal-window {
  background-color: #b7d3c1;
  width: 95%;
  height: 80%;
  border-radius: 0.6rem;
  position: relative;
  padding: 10px;
}
@media screen and (min-width: 726px) {
  #modal-window {
    width: 50%;
    height: 50%;
  }
}
#modal-window .material-symbols-outlined {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-size: 5rem;
}
@media screen and (min-width: 726px) {
  #modal-window .material-symbols-outlined {
    top: -41px;
    right: -41px;
  }
}

nav {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  height: 8%;
  width: 100%;
  background-color: #e07a5f;
  z-index: 2;
  color: #1e2a38;
  transition: 1s;
}

.nav-small {
  height: 4%;
}

.logo, .menu {
  flex-basis: 50%;
  padding: 20px;
}

.logo {
  font-size: 4rem;
}

.menu {
  text-align: right;
}
.menu ul {
  display: none;
}
@media screen and (min-width: 1124px) {
  .menu ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    font-size: 2.5rem;
  }
  .menu ul li {
    transition: 0.25s;
    position: relative;
    border-bottom: 2px solid solid transparent;
  }
  .menu ul li:before {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    transform-origin: center;
    background-color: rgba(30, 42, 56, 0.737254902);
    transition: transform 0.25s;
    transform: scaleX(0);
  }
  .menu ul li:hover::before {
    transform: scaleX(1);
  }
  .menu ul li:hover {
    transform: translateY(-5px);
  }
}

.menu-small {
  display: flex;
  flex-direction: column;
  z-index: 4;
}

.menu .material-symbols-outlined {
  font-size: 5rem;
}

.menu .material-symbols-outlined {
  font-size: 5rem;
}
@media screen and (min-width: 1124px) {
  .menu .material-symbols-outlined {
    display: none;
  }
}

#menu {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background: url(../assets/img/big-bg-header.webp) center/cover fixed;
  background-position: 45%;
  color: #ede0d4;
  position: relative;
}
header::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 42, 56, 0.737254902);
}

h1 {
  z-index: 1;
  font-weight: normal;
  text-align: center;
  font-size: 4rem;
  padding-top: 8rem;
  animation: animation-opacity 2.5s;
  color: #ede0d4;
}
@media screen and (min-width: 726px) {
  h1 {
    font-size: 7rem;
  }
}
@media screen and (min-width: 1124px) {
  h1 {
    font-size: 9rem;
  }
}
@media screen and (min-width: 1324px) {
  h1 {
    font-size: 11rem;
  }
}

.container-button-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 20px;
  margin: 0 auto;
  z-index: 1;
}

.button-header {
  height: 7rem;
  width: 7rem;
  margin: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e07a5f;
  background-color: rgba(142, 0, 224, 0.0274509804);
  border: 3px solid #e07a5f;
}
@media screen and (min-width: 726px) {
  .button-header {
    height: 8rem;
    width: 8rem;
    cursor: pointer;
    transition: 0.5s;
  }
  .button-header:hover {
    scale: 1.2;
    border: 2px solid rgba(142, 0, 224, 0.0274509804);
  }
}
@media screen and (min-width: 1124px) {
  .button-header {
    height: 10rem;
    width: 10rem;
  }
}
.button-header:nth-of-type(1) {
  animation: animation-opacity 2s;
}
.button-header:nth-of-type(2) {
  animation: animation-opacity 3s;
}
.button-header:nth-of-type(3) {
  animation: animation-opacity 4s;
}
.button-header:nth-of-type(4) {
  animation: animation-opacity 5s;
}
.button-header .mterial-symbols-outlined {
  font-size: 4rem;
}

@keyframes animation-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
section {
  min-height: 100vh;
}
section :nth-of-type(even) {
  background-color: lightgray;
}
section h2 {
  padding-top: 7rem;
  text-align: center;
  font-size: 3rem;
}

/*# sourceMappingURL=style.css.map */
