@use 'variables' as *;
@use 'mixins' as *;

.modal-window {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
    background-color: $color-navy-alpha;


    .title, .desription {
        text-align: center;
        margin: 20px 0 0;
        font-size: 2rem;

    }
    
    .title {
        font-weight: bold;
        font-size: 200%;
    }
    
}

#modal-window {
    background-color: $color-mint;
    width: 95%;
    height: 80%;
    @include mq {
        width: 50%;
        height: 50%;
    }
    border-radius: 0.6rem;
    position: relative;
    padding: 10px;
    
    .material-symbols-outlined {
        position: absolute;
        @include mq {
            top: -41px;
            right: -41px;
        }
        top: 5px;
        right: 5px;
        cursor: pointer;
        font-size: 5rem;
    }
}
