@use 'variables' as *;
@use 'mixins' as *;

nav {
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 8%;
    width: 100%;
    background-color: $color-teracota;
    z-index: 2;
    color: $color-navy;
    transition: 1s;
}

.nav-small {
    height: 4%;
}

.logo, .menu {
    flex-basis: 50%;
    padding: 20px;
}

.logo {
    font-size: 4rem;
}

.menu {
    text-align: right;
    ul {
        display: none;
        @include mq ('l') {
            display: flex;
            justify-content: space-evenly; //Rozkłada elementy O nas itp.
            list-style: none;
            font-size: 2.5rem;
             li {
                transition: .25s;
                position: relative;
                border-bottom: 2px solid solid transparent;
                
                &:before {
                    content: '';
                    display: block;
                    height: 2px;
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    transform-origin: center; //Copilot
                    background-color: $color-navy-alpha;
                    transition: transform 0.25s;
                    transform: scaleX(0); //Copilot
                }
                &:hover::before {
                    transform: scaleX(1); //Copilot
                }
                &:hover {
                    transform: translateY(-5px); //Copilot
                }
            }
        }
    }

}

.menu-small {
    display: flex;
    flex-direction: column;
    z-index: 4;
}

.menu .material-symbols-outlined {
    font-size: 5rem;
}

.menu .material-symbols-outlined {
    font-size: 5rem;
    @include mq ('l'){
        display: none;
    }
}

#menu {
    cursor: pointer;
}