@use 'variables' as *;

nav {
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 8%;
    width: 100%;
    background-color: $color-teracota;
}

.logo, .menu {
    flex-basis: 50%;
}

.menu {
    text-align: right;
}