@use 'variables' as *;
@use 'mixins' as *;

nav {
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    height: 8%;
    width: 100%;
    background-color: $color-teracota;
    z-index: 2;
    color: $color-navy;
}

.logo, .menu {
    flex-basis: 50%;
    padding: 20px;
}

.logo {
    font-size: 4rem;
}

.menu {
    text-align: right;
    ul {
        display: none;
        @include mq ('l') {
            display: flex;
            justify-content: space-evenly; //Rozkłada elementy O nas itp.
            list-style: none;
            font-size: 2.5rem;
        }
    }

}

.menu .material-symbols-outlined {
    font-size: 5rem;
}

.menu .material-symbols-outlined {
    font-size: 5rem;
    @include mq ('l'){
        display: none;
    }
}