/* Error: Undefined mixin.
 *    ,
 * 36 | /     @include mq ('l'){
 * 37 | |         display: none;
 * 38 | \     }
 *    '
 *   scss\_nav.scss 36:5  @use
 *   scss\style.scss 2:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 36 \2502  \250c      @include mq ('l'){\a 37 \2502  \2502          display: none;\a 38 \2502  \2514      }\a    \2575 \a   scss\\_nav.scss 36:5  @use\a   scss\\style.scss 2:1  root stylesheet";
}
